*{
    margin: 0;
    padding: 0;
}
body{
   
    font-family: Arial, Helvetica, sans-serif;
}
.compo{
    background-color: skyblue ;
    width: 100%;

}
.content{
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    padding-top: 30px;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
    .two-image{
        display: flex;
        gap: 30px;
    }
    .para{
        color: gray;
        width: 451px;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        }
        .container{
        justify-content: center;
        padding-left: 140px;
        width: 1100px;
        }
        
